.container{
    display: grid;
    background-color: blue;
    padding: 2rem;
    /* grid-template-columns: 1fr 2fr 1fr; */
    /*----repeat
    grid-template-columns: repeat(12, 1fr );
    grid-template-rows: 1fr 2fr 1fr;*/

    /*---- repetir y poner nombre a las lineas
    grid-template-columns: [X0] 1fr [x1] 1fr  [x2] 1fr [x3];
    grid-template-rows: 150px 100px 150px;*/


    /*--- numero de items por fila en este caso 3------*/
    /*grid-template-columns: [X0] 1fr [x1] 1fr  [x2] 1fr [x3];
    grid-template-rows: [Y0]150px [Y1] 100px [Y2] 150px [Y3];*/
    grid-template-columns:  1fr  1fr   1fr 1fr;
    grid-template-rows: 200px  100px 100px 100px;

    /*--- distancia entre bloques---
    column-gap: 10px;
    row-gap: 10px;*/

    /*-- distancia entre bloques espacio (espacio vertical- espacio horizontal)*/
    gap: 10px 10px;
    /* ---- alineacion de los items----*/
    /*justify-items: center;
    align-items: center;*/
    
    /*alineacion de items (vertical horizontal)
    place-items: center center;*/

    /*--- para añadir e insertar una nueva columna*/
    /*grid-auto-rows: 500px;
    grid-auto-flow: row;*/

    /*------ uno depende del otro (para las columnas)------
    grid-auto-columns: 500px;
    grid-auto-flow: column;*/

    /*grid-auto-flow: dense;*/

    grid-template-areas:    "1 2 3 4"
                            "5 6 7 8 "
                            "5 6 7 8 "
                            "5 6 7 8 "
                            
                            "9 10 10 10 ";

    
}   
.grid-item{
    background-color: skyblue;
    padding: 2rem;
    font-size: 24pt;
    text-align: center;
    border: solid 1px blue;
}

/*---para seleccionar el segundo elemento, la liste empieza en 1 (en este caso usamos el numero 2)----*/
/*.container :nth-child(2){
    /*--- expansion de tamaño en filas*/
    /*grid-row:2 / span 2;
    /* justificacion de un item individual
    justify-self: start;*/
    /* ---- alineacion individual de un item en el primero es vertical y el segundo horizontal
    place-self: end center;
}*/

/*.container :nth-child(4){*/
    /*----expansion en columnas*/
    /*grid-column: span 2;
}*/
/*--- para el grid-template-area----
.container :nth-child(1){
    grid-area: header;
}
.container :nth-child(2){
    grid-area: side;
}
.container :nth-child(3){
    grid-area: main;
}
.container :nth-child(4){
    grid-area: footer;
}
.container :nth-child(5){
    grid-area: main2;
}*/


.container :nth-child(1){
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
}


.container :nth-child(2){
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 6;
}
.container :nth-child(3){
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
.container :nth-child(4){
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
}

